.ql {
    margin: 0px;
    padding: 0px
}
.bbj {
    background-color: aliceblue
}
.bgs{
background-color: #fff
}
ul,
li,
div,
p,
a {
    margin: 0px;
    padding: 0px;
    vertical-align: middle;
    color: #000
}


li {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    height: 50px
}

.d1cd1g {
    width: 1200px;
    height: 59px
}

.d1cd1g1 {
    width: 204px;
    height: 43px;
    text-align: center;
}

a {
    padding: 0px
}

.kzw {
    width: 84px;
    height: 35px
}

.xgg {
    width: 740px;
    height: 43px
}

.qxcp {
    width: 150px;
    height: 43px;
    text-align: center;
}

.caidan {
    width: 1000px;
    height: 209px
}

.daohang {
    width: 1240px;
    height: 90px;
    padding: 10px
}

.daohangBJ {
    height: 90px;
    background-color: #071A23
}

.HOME {
    width: 959px;
    height: 90px
}

span p {
    width: 110px;
    height: 90px;
    text-align: center;
    margin: 8px
}

i,
b {
    height: 24px
}

/* { 
    color: #fff;
    font-weight:normal
}*/
b {
    color: #aaa
}

.lii {
    margin: 13px
}

.dalun {
    height: 660px;
   
}

.carousel-indicators li {
    width: 0.75rem;
    height: 0.75rem;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 4px;
}

a:hover {
    text-decoration: none;
}

.kuangjia-3 {
    width: 1240px;
    height: 1477px;
}

.kuangjia-3-1 {
    width: 1240px;
    height: 400px;
    margin-bottom: 40px
}

.kuangjia-3-1-1 {
    width: 400px;
    height: 400px;
}
.a3-zuobian{
    width:400px;
    height:120px;
    background:#EC5000
}

.kuangjia-3-2{
    width:1240px;
    height:474px;
    margin-bottom: 40px
}
.kuangjia-3-3{
    width:1240px;
    height:523px;
    margin-bottom: 40px
}
.kuangjia{
    background:#071A23
}
#d3-2{
    color: #fff;
    font-size:35px;
    font-weight:bold;
    text-align: center;
    padding-top: 20px;
}
#d3-3{
    color: #fff;
    text-align: center;
}
#d3-4 td{
    width:200px;
    height:69px;
    text-align: center;
    background-color: #082330;
    border:0.5px solid #000;
}
#i-1,
#i-2,
#i-3,
#i-4,
#i-5,
#i-6,
#i-7,
#i-8{
    width:45px;
    height:45px;
    display:inline-block;
    background:url(../img/zaxiang/script.png); 
    vertical-align: middle; 
    }
#i-1{
    background-position: 0 -120px
}
.dyc-1{
    background-color: #fff
}
#i-2{
    background-position:-45px -120px;
}
#i-3{
    background-position:-90px -120px;
}
#i-4 {
    background-position:-135px -120px
}
#i-5{
    background-position:-180px -120px;
}
#i-6 {
    background-position: -225px -120px;
}
#i-7 {
    background-position: -270px -120px;
}
#i-8 {
    background-position: -315px -120px;
}
.kuangjia-3-1-2{
    width:820px;
    height:400px;
}
.er1 {
    margin-left:20px
}
.kuangjia-4-1{
    width:400px;
    height:469px;
    margin-right: 20px
}
.kuangjia-4-1-1{
    width:400px;
    height:31px;
    margin-bottom: 5px
}
.kuangjia-4-1-1-1{
    width:131px;
    height:31px;
    font-family: "微软雅黑",
    "宋体",
    Times,
    serif;
    color:#fff
}
.kuangjia-4-1-1-1 b{
    width:25px;
    height:25px;
    display:inline-block;
    background:url(../img/zaxiang/script.png);
    vertical-align: middle;
    background-position: 0 -165px;
    margin-right: 5px
}
.kuangjia-4-1-1-1 b+a{
    color:#fff;
    display:inline-block;
    vertical-align: middle;
    width:12px;
    height:12px;
    margin-left: 230px;
    margin-bottom: 10px;
    position: relative;
    bottom: 2px
}
.kuangjia-4-1-2 {
    color: #071A23 !important
}
.border-0{
    border:0;
    color:#fff;
    width:100px;
    height:42px
}
#zx1,
#zx2,
#zx2+b,
#zx4
{
    color:#fff;
    font-size:13px
}
#zx1{
    width:38px;
    height:38px;
    vertical-align: middle;
    display:inline-block;
}
#zx2{
    width:270px;
    height:38px;
    margin: 0 8px;
    vertical-align: middle;
    display:inline-block;
}
#zuixing li,
#home li,
#notice li,
#activity li{
    width:400px;
    height:38px;
    padding:0 14px
}
#zx4{
    color: #fff;
vertical-align: middle;
display:inline-block;
}
.kuangjia-4-2{
    width:820px;
    height:474px;

}
#kuangjia-4-2-1{
    width:820px;
    height:31px;
    margin-bottom: 5px;
    
}
#kuangjia-4-2-1 span{
    widows: 251px;
    height:31px;
    color:#fff;
    vertical-align: middle;
    display:inline-block;
    
}
#kuangjia-4-2-1 span b{
    width:25px;
    height:25px;
    vertical-align: middle;
    display:inline-block;
    background: url(../img/zaxiang/script.png);
    background-position: -25px -165px;
}
.kuangjia-4-2-2{
    width:820px;
    height:438px;
}
#kj-1{
    width:500px;
    height:392px;
    padding:0px;
    position:relative;
    list-style:none;
    margin:0 auto;
}
.kuangjia-4-2-2 div,
.kuangjia-4-2-2 div div{
    width:780px;
    height:392px;
    text-align: center;
}
#kj-0{
position: absolute;
left: -37px;
top: -2px;
width: 568px;
height: 392px;
opacity: 1;
z-index: 280;
font-size: 12px;
}
.kj-1-1{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        display: none;
        background: #071a23;
}
.kj-a{
    background: url(../img/zaxiang/script.png);
    background-position: -732px -120px;
    width: 68px;
    height: 68px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -34px;
    margin-top: -34px;
    }

.kj-2{
    position: absolute;
    left: 222px;
    top: 42px;
    width: 440.2px;
    height: 303.8px;
    opacity: 0.55;
    z-index: 145;
    font-size: 9.3px;
}
.kj-3{
    position: absolute;
    left: -167px;
    top: 42px;
    width: 440.2px;
    height: 303.8px;
    opacity: 0.55;
    z-index: 145;
    font-size: 9.3px;
}
.kj-1 img,.kj-2 img ,.kj-3 img  {
    width: 100%;
    height: 100%
}
.kuangjia-4-3-2-2{
    vertical-align: middle;
    display: inline-block;
    width:299px !important;
    height:42px !important;
    margin-left: 238px
}
.kuangjia-4-3-2-2 a{
    color:#fff;
    border-bottom: 2px solid #93e6df;
    font-size: 16px;
    width:93px;
    height:40px;
    text-align: center;
    display:inline-block;
}
.kuangjia-3-3-1{
    width:400px;
    height:523px;
    margin-right: 20px;
}
.kuangjia-3-3-1-1{
    width:400px;
    height:31px;
    margin-bottom: 5px;
}
#sq,#sq>b, .sequ{
    display:inline-block;
    color:#fff;
    vertical-align: middle;
}
#sq{
    width:350px;
    height:31px;
}
#sq b{
    width:25px;
    height:25px;
    background:url(../img/zaxiang/script.png);
    background-position: -50px -165px;
    margin-bottom: 3px;
    
}
.sequ{
    width:20px;
    height:20px;
    color:#fff;
    padding-bottom: 40px
}
.tabs{
    width:400px;
    height:477px;
}
#tab{
    width:400px;
    height:42px;
    margin-bottom: 10px;
    color:#fff;
}
#conts{
    width:400px;
    height:523px;
    margin-bottom: 40px;
    position: relative;
}
.a-h4p h4{
    width:370px;
    height:45px;
    font-size: 14px;
    display:inline-block;
    margin:0px;
    padding-top: 15px;
    color:#fff
}
.a-p{
    widows: 370px;
    height:90px;
    display:inline-block;
    vertical-align: middle
}
.a-p i{
    width:160px;
    height:90px;
    margin-right: 20px;
    display:inline-block;
    vertical-align: middle;
}
.a-p span{
    width:186px;
    height:51px;
    display:inline-block;
    font-size: 10px;
    vertical-align: top;
    color:#fff
}
.ulli{
    width:400px;
    height:136px;
    padding: 0 15px;
    margin-bottom: 10px;
    
}
.a-p i img{
    width:100%;
    height:100%
}
.a-h4p{
    width:370px;
    height:135px;
    display:inline-block;
}
#tab li{
    float: left;list-style: none;
}
#tab li a{
    display: inline-block;
    text-decoration: none;
    line-height:40%;
    text-align: center;
    width:100px;
    height:41px;
    margin-top: 30px
}
#content1,#content2,#content3,#content4{
    position: absolute;
    background-color: #071A23
}
